.park-map {
    position:absolute;
    left:282px;
    top:512px;
    width:1375px;
    height:476px;
    background:url('../images/my_images/park_map.png')  no-repeat;
}
.vendor-title {
    position:absolute;
    left:33px;
    top:27px;
    width:441px;
    height:86px;
    background:url('../images/my_images/vendor_title_icon.png') no-repeat;
}
.part-box {
    position:absolute;
    left:20px;
    top:436px;
    width:190px;
    height:300px;
}
.canvas {
    position:absolute;
    left:54px;
    top:0;
    animation:progressBg 1.5s;
}
@keyframes progressBg {
    0% {
        opacity: 0;
        left:34px;
    }
    66% {
        opacity: 0;
        left:34px;
    }
    100% {
        opacity: 1;
        left:54px;
    }
}
.content-box {
    position:absolute;
    left:0;
    top:216px;
    width:189px;
    height:84px;
    animation:contentBox 1.5s;
}
@keyframes contentBox {
    0% {
        opacity: 0;
        left:-20px;
    }
    66% {
        opacity: 0;
        left:-20px;
    }
    100% {
        opacity: 1;
        left:0;
    }
}
.content-bg {
    width:189px;
    height:84px;
    background:url(../images/my_images/data_bg_border.png) no-repeat;
    background-position:50% 50%;
    background-size:contain;
}
.content-title {
    position:absolute;
    left:0;
    top:-25px;
    width:189px;
    text-align: center;
    font-size:22px;
    color:#00fff4;
}
.content-text {
    position:absolute;
    top:20px;
    left:15px;
    font-size:14px;
}
.content-bar ,.second-bar {
    position:absolute;
    width:2px;
    background-color:#00fff4;
    transform-origin:100% 100%;
}
.part-first .content-bar {
    right: -113px;
    bottom: 66px;
    height:80px;
    transform:rotate(-70deg);
    animation:firstBar 0.6s;
}
@keyframes firstBar {
    0% {
        height:0;
    }
    100% {
        height:80px;
    }
}
.part-first .second-bar {
    height:56px;
    left:0;
    bottom:80px;
    transform:rotate(-41deg);
    animation:secondBar 1s;
}
@keyframes secondBar {
    0% {
        height:0;
    }
    60% {
        height:0;
    }
    100% {
        height:56px;
    }
}
.part-second {
    left:174px;
    top:308px;
}
.part-second .content-bar {
    right: -153px;
    bottom: -18px;
    height: 110px;
    transform: rotate(-98deg);
    animation:secondBar01 0.5s;
}
.part-second .second-bar {
    height:98px;
    left:0;
    bottom:109px;
    transform:rotate(30deg);
    animation:secondBar02 1s;
}
@keyframes secondBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:110px;
    }
}
@keyframes secondBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    40% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:98px;
    }
}
/*三*/
.part-third {
    left:318px;
    top:201px;
}
.part-third .content-bar {
    right: -127px;
    bottom: -142px;
    height: 140px;
    transform: rotate(-71deg);
    animation:thirdBar01 0.6s;
}
.part-third .second-bar {
    height: 109px;
    left: 0;
    bottom: 139px;
    transform: rotate(47deg);
    animation:thirdBar02 1s;
}
@keyframes thirdBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:140px;
    }
}
@keyframes thirdBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    40% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:109px;
    }
}
/*四*/
.part-fourth {
    left:506px;
    top:276px;
}
.part-fourth .content-bar {
    right: -62px;
    bottom: -10px;
    height: 70px;
    transform: rotate(-18deg);
    animation:fourthBar01 0.5s;
}
.part-fourth .second-bar {
    height: 63px;
    left: 0;
    bottom: 69px;
    transform: rotate(-57deg);
    animation:fourthBar02 1s;
}
@keyframes fourthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:70px;
    }
}
@keyframes fourthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    40% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:63px;
    }
}
/*五*/
.part-fifth {
     left:672px;
     top:170px;
 }
.part-fifth .content-bar {
    right: -32px;
    bottom: -132px;
    height: 68px;
    transform: rotate(-51deg);
    animation:fifthBar01 0.4s;
}
.part-fifth .second-bar {
    height: 99px;
    left: 0;
    bottom: 67px;
    transform: rotate(30deg);
    animation:fifthBar02 1s;
}
@keyframes fifthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:68px;
    }
}
@keyframes fifthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    40% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:99px;
    }
}
/*六*/
.part-sixth {
    left:876px;
    top:190px;
}
.part-sixth .content-bar {
    right: 124px;
    bottom: -74px;
    height: 52px;
    transform: rotate(-50deg);
    animation:sixthBar01 0.5s;
}
.part-sixth .second-bar {
    height: 44px;
    left: 0;
    bottom: 51px;
    transform: rotate(50deg);
    animation:sixthBar02 1s;
}
@keyframes sixthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:52px;
    }
}
@keyframes sixthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    50% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:44px;
    }
}
/*七*/
.part-seventh {
    left:1050px;
    top:309px;
}
.part-seventh .content-bar {
    right: 126px;
    bottom: -118px;
    height: 90px;
    transform: rotate(57deg);
    animation:seventhBar01 0.6s;
}
.part-seventh .second-bar {
    height: 73px;
    left: 0;
    bottom: 89px;
    transform: rotate(-50deg);
    animation:seventhBar02 1s;
}
@keyframes seventhBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:73px;
    }
}
@keyframes seventhBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    60% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:90px;
    }
}
/*八*/
.part-eighth {
    left:1228px;
    top:156px;
}
.part-eighth .content-bar {
    right: 137px;
    bottom: -86px;
    height: 45px;
    transform: rotate(45deg);
    animation:eighthBar01 0.4s;
}
.part-eighth .second-bar {
    height: 59px;
    left: 0;
    bottom: 44px;
    transform: rotate(-55deg);
    animation:eighthBar02 1s;
}
@keyframes eighthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:45px;
    }
}
@keyframes eighthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    40% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:59px;
    }
}
/*九*/
.part-ninth {
    left:1455px;
    top:198px;
}
.part-ninth .content-bar {
    right: 235px;
    bottom: -96px;
    height: 70px;
    transform: rotate(55deg);
    animation:ninthBar01 0.5s;
}
.part-ninth .second-bar {
    height: 64px;
    left: 0;
    bottom: 69px;
    transform: rotate(-31deg);
    animation:ninthBar02 1s;
}
@keyframes ninthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:70px;
    }
}
@keyframes ninthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    50% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:64px;
    }
}
/*十*/
.part-tenth {
    left:1664px;
    top:350px;
}
.part-tenth .content-bar {
    right: 263px;
    bottom: -31px;
    height: 80px;
    transform: rotate(100deg);
    animation:tenthBar01 0.6s;
}
.part-tenth .second-bar {
    height: 60px;
    left: 0;
    bottom: 79px;
    transform: rotate(-61deg);
    animation:tenthBar02 1s;
}
@keyframes tenthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:80px;
    }
}
@keyframes tenthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    60% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:60px;
    }
}
/*十一*/
.part-eleventh {
    left:1669px;
    top:682px;
}
.part-eleventh .content-bar {
    right: 462px;
    bottom: 243px;
    height: 170px;
    transform: rotate(90deg);
    animation:eleventhBar01 0.5s;
}
.part-eleventh .second-bar {
    height: 216px;
    left: 0;
    bottom: 169px;
    transform: rotate(54deg);
    animation:eleventhBar02 1s;
}
@keyframes eleventhBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:170px;
    }
}
@keyframes eleventhBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    50% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:216px;
    }
}
/*十二*/
.part-twelfth {
    left:1437px;
    top:756px;
}
.part-twelfth .content-bar {
    right: 225px;
    bottom: 137px;
    height: 78px;
    transform: rotate(167deg);
    animation:twelfthBar01 0.7s;
}
.part-twelfth .second-bar {
    left: 0;
    bottom: 77px;
    height: 30px;
    transform: rotate(-32deg);
    animation:twelfthBar02 1s;
}
@keyframes twelfthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:78px;
    }
}
@keyframes twelfthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    70% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:30px;
    }
}
/*十三*/
.part-thirteenth {
    left:1156px;
    top:721px;
}
.part-thirteenth .content-bar {
    right: 250px;
    bottom: 148px;
    height: 68px;
    transform: rotate(160deg);
    animation:thirteenthBar01 0.6s;
}
.part-thirteenth .second-bar {
    left: 0;
    bottom: 67px;
    height: 51px;
    transform: rotate(-34deg);
    animation:thirteenthBar02 1s;
}
@keyframes thirteenthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:64px;
    }
}
@keyframes thirteenthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    60% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:51px;
    }
}
/*十四*/
.part-fourteenth {
     left:913px;
     top:702px;
 }
.part-fourteenth .content-bar {
    right: 190px;
    bottom: 251px;
    height: 84px;
    transform: rotate(153deg);
    animation:fourteenthBar01 0.4s;
}
.part-fourteenth .second-bar {
    left: 0;
    bottom: 83px;
    height: 111px;
    transform: rotate(40deg);
    animation:fourteenthBar02 1s;
}
@keyframes fourteenthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:84px;
    }
}
@keyframes fourteenthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    40% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:111px;
    }
}
/*十五*/
.part-fifteenth {
    left:711px;
    top:758px;
}
.part-fifteenth .content-bar {
    right: 37px;
    bottom: 208px;
    height: 70px;
    transform: rotate(160deg);
    animation:fifteenthBar01 0.5s;
}
.part-fifteenth .second-bar {
    left: 0;
    bottom: 69px;
    height: 73px;
    transform: rotate(23deg);
    animation:fifteenthBar02 1s;
}
@keyframes fifteenthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:70px;
    }
}
@keyframes fifteenthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    50% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:73px;
    }
}
/*十六*/
.part-sixteenth {
     left:569px;
     top:647px;
 }
.part-sixteenth .content-bar {
    right: 5px;
    bottom: 240px;
    height: 70px;
    transform: rotate(209deg);
    animation:sixteenthBar01 0.4s;
}
.part-sixteenth .second-bar {
    left: 0;
    bottom: 69px;
    height: 112px;
    transform: rotate(-40deg);
    animation:sixteenthBar02 1s;
}
@keyframes sixteenthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:70px;
    }
}
@keyframes sixteenthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    40% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:112px;
    }
}
/*十七*/
.part-seventeenth {
     left:387px;
     top:750px;
 }
.part-seventeenth .content-bar {
    right: -6px;
    bottom: 320px;
    height: 120px;
    transform: rotate(196deg);
    animation:seventeenthBar01 0.5s;
}
.part-seventeenth .second-bar {
    left: 0;
    bottom: 119px;
    height: 134px;
    transform: rotate(-20deg);
    animation:seventeenthBar02 1s;
}
@keyframes seventeenthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:120px;
    }
}
@keyframes seventeenthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    50% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:134px;
    }
}
/*十八*/
.part-eighteenth {
    left:118px;
    top:739px;
}
.part-eighteenth .content-bar {
    right: -193px;
    bottom: 307px;
    height: 165px;
    transform: rotate(239deg);
    animation:eighteenthBar01 0.5s;
}
.part-eighteenth .second-bar {
    left: 0;
    bottom: 164px;
    height: 167px;
    transform: rotate(-35deg);
    animation:eighteenthBar02 1s;
}
@keyframes eighteenthBar01 {
    0% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:165px;
    }
}
@keyframes eighteenthBar02 {
    0% {
        opacity: 0;
        height:0;
    }
    50% {
        opacity: 0;
        height:0;
    }
    100% {
        opacity: 1;
        height:165px;
    }
}